.Details{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(223, 242, 248);
    padding-top: 2px;
    padding-bottom: 10px;
    min-height:100vh;
}

*{
    margin: 0;
    padding: 0;
}
