.Details-Card{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: white;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

p{
    margin-top: 7px;
    background-color: white;
}
h3{
    background-color: white;
    margin-bottom: 10px;
}
h4{
    background-color: white;
    margin-top: 15px;
}

.Details-heading{
    width: 90%;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.Details-name{
    display: inline-block;
    background-color: white;
    width: 300px;
}
.Details-contact{
    margin-top: 35px;
    margin: 20px;
    margin-left: 30px;
    display: inline-block;
    background-color: white;
    width: 250px;
    
}
.Details-city{
    margin: 20px;
    margin-left: 30px;
    display: inline-block;
    background-color: white;
    width: 220px;
}
.Details-website{
    margin: 20px;
    margin-left: 30px;
    display: inline-block;
    background-color: white;
    width: 250px;
}
.Button{
    background-color: rgb(235, 32, 32);
    color: white;
    border: white;
    border-radius: 25px;
    height: 60px;
    width: 130px;
    font-size: 28px;
    cursor: pointer;
}

.Details-Drop{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    width: 90%;
    font-size: 20px;
    border-radius: 10px;
}
.Details-DropMore{
    display: flex;
    background-color: white;
}

.Details-Data{
    background-color: white;
}